@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-pink {
  background-color: #FFE7F9;
}

.bg-primary {
  background-color: #C01A78;
}

.text-primary {
  color: #C01A78;
}

.text-secondary {
  color: #953106;
}

.h-screen-header {
  min-height: calc(100vh - 80px);
}

.bg-shape-1 {
  background-image: url('./images/home/shape1.png');
  background-repeat: no-repeat;
  background-position: bottom -40px left;
  background-size: 200px;
}

.bg-shape-2 {
  background-image: url('./images/home/shape2.png');
  background-repeat: no-repeat;
  background-position: right -170px bottom -40px;
  background-size: 30%;
}